<div>
	<div>
	<label>name: </label>
	name
	</div>	
	<div>
	<label>Address: </label>
	address
	</div>
	<div>
	<label>Hourly Rate: </label>
	hourlyRate
	</div>	
	<div>
	<label>Salary: </label>
	salary
	</div>		
	<div>
	<label>Commission Rate: </label>
	commissionRate
	</div>	
	<div>
	<label>Payment Classification: </label>
	paymentClass
	</div>	
	<div>
	<label>Schedule: </label>
	schedule
	</div>"	
</div>
