<!DOCTYPE html>
<html>
	<head>
		<title>Employees</title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
	<body>	
		<div class="w3-card-4" style="margin:16%; margin-top:5%; margin-bottom:10px">
			<div class="w3-container w3-deep-orange">
				<h1>$Employee.getName()</h1>
			</div>
			<div class="w3-container w3-padding-16">							
				<label>Address: </label>
				$Employee.getAddress()
				<br>			
				<label>Hourly Rate: </label>
				$Employee.getHourlyRate()
				<br>			
				<label>Salary: </label>
				$Employee.getSalary()
				<br>		
				<label>Commission Rate: </label>
				$Employee.getCommisionRate()
				<br>	
				<label>Payment Classification: </label>
				$Employee.getPaymentClassificationString()
				<br>		
				<label>Schedule: </label>
				$Employee.getPaymentScheduleString()								
			</div>
		</div>
		<div class="w3-card-4" style="margin:16%; margin-top:0; margin-bottom:10px">				
			#if($Employee.getPaymentClassificationString() == "Hourly")
				<div class="w3-container w3-deep-orange">
					<h3>Add a time card:</h3>
				</div>				
				<form method='post' action='/AddTimeCard'>
					<div class="w3-container w3-padding-16">
						<p>Date:</p>
						<div class="w3-row-padding">
							<div class="w3-third">
								<label>Year:</label>
								<input type="number" class="w3-input w3-border" name="year">    						
	  						</div>
	  						<div class="w3-third">
	    						<label>Month:</label>
								<input type='number' class="w3-input w3-border" name='month' min="1" max="12" value=1>
	  						</div>
	  						<div class="w3-third">
	  							<label>Day:</label>
								<input type="number" class="w3-input w3-border" name="day" min="1" max="31" value = 1>
	  						</div>
						</div>			
						<br>
						<label>Hours:</label>
						<input type='number' class="w3-input w3-border" name='hours' value=0> 
						<input type='hidden' name='employeeId' value= $Employee.getId()>
					</div>
					<input type='submit' class="w3-button w3-deep-orange w3-hover-black w3-block" value='Add'>
				</form>
			#end
			#if($Employee.getPaymentClassificationString() == "Commissioned")
				<div class="w3-container w3-deep-orange">
					<h3>Add a sale receipt:</h3>
				</div>
				<form method='post' action='/AddSaleReceipt'>
					<div class="w3-container w3-padding-16">
						<p>Date:</p>
						<div class="w3-row-padding">
							<div class="w3-third">
								<label>Year:</label>
								<input type="number" class="w3-input w3-border" name="year">    						
	  						</div>
	  						<div class="w3-third">
	    						<label>Month:</label>
								<input type='number' class="w3-input w3-border" name='month' min="1" max="12" value=1>
	  						</div>
	  						<div class="w3-third">
	  							<label>Day:</label>
								<input type="number" class="w3-input w3-border" name="day" min="1" max="31" value = 1>
	  						</div>
						</div>			
						<br>
						<label>Amount:</label>
						<input type='number' class="w3-input w3-border" name='amount' value=0> 
						<input type='hidden' name='employeeId' value= $Employee.getId()>
					</div>
					<input type='submit' class="w3-button w3-deep-orange w3-hover-black w3-block" value='Add'>
				</form>
			#end			
		</div>
		<div class="w3-card-4" style="margin:16%; margin-top:0; margin-bottom:10px">				
			#if($Employee.getPaymentClassificationString() == "Hourly")
				<input type='hidden' name='employeeId' value= $Employee.getId()>				
				<form method='post' action='/TimeCards'>
					<input type='submit' class="w3-button w3-black w3-hover-deep-orange w3-block" value='Time Card List'>
				</form>
			#end
			#if($Employee.getPaymentClassificationString() == "Commissioned")
				<form method='post' action='/SaleReceipts'>
					<input type='hidden' name='employeeId' value= $Employee.getId()>					
					<input type='submit' class="w3-button w3-black w3-hover-deep-orange w3-block" value='Sale Receipts List'>
				</form>
			#end
			<form method='get' action='/Pay'>
				<input type='hidden' name='employeeId' value= $Employee.getId()>	
				<input type='submit' class="w3-button w3-black w3-hover-deep-orange w3-block" value='PayCheck'>
			</form>			
		</div>
	</body>
</html>