<!DOCTYPE html>
<html>
	<head>
		<title>Payroll Generator</title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
	<body>
	    <h1 style="text-align:center; margin-top:15%">Payroll Generator</h1>
	    <div style="margin:25%; margin-top:5%">
		    <form method='get' action='/NewEmployee'>	
				<input type='submit' class="w3-button w3-black w3-hover-deep-orange w3-block" value='Create an employee'>
			</form>
			<form method='get' action='/ShowEmployees'>	
				<input type='submit' class="w3-button w3-black w3-hover-deep-orange w3-block" value='Employees list'>
			</form>			
		</div>
	</body>
</html>