<!DOCTYPE html>
<html>
  <head>
    <title>Payrolls</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <form method='get' action='/NewEmployee'>	
		<input type='submit' value='Create an employee'>
	</form>
	<form method='get' action='/ShowEmployees'>	
		<input type='submit' value='Employees list'>
	</form>
	<form method='get' action='/Pay'>	
		<input type='submit' value='Pay'>
	</form>
  </body>
</html>