<!DOCTYPE html>
<html>
	<head>
		<title>Payroll Generator</title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
	<body>		
		#if( $Check )
			<div class="w3-card-4" style="margin:16%; margin-top:5%">
				<header class="w3-container w3-deep-orange">
					<h1>For $Check.getPayPeriodEnd()</h1>
				</header>					 
				<div class="w3-container">				 
					<label>Gross Pay: </label>
					$Check.getGrossPay()<br>
					<label>Deductions: </label>
					$Check.getDeductions()<br>
					<label>Net Pay: </label>
					$Check.getNetPay()
					<br>
				</div>								
			</div>
		#{else}
			<div class="w3-card-4" style="margin:16%; margin-top:5%">
				<header class="w3-container w3-deep-orange">
					<h1>Its not pay period end yet.</h1>
				</header>					 
				<div class="w3-container">				 
					<label>Gross Pay: </label>
					0<br>
					<label>Deductions: </label>
					0<br>
					<label>Net Pay: </label>
					0()
					<br>
				</div>								
			</div>
		#end		
	</body>
</html>